
body{
    background: linear-gradient(to right,#9a1d86, #1595be);
}

h1{
    text-align: center;
    color: rgb(11, 24, 24);
}
.container{
    width: 460px;
    height: 540px;
    background-color: rgba(113, 111, 121, 0.158);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
   
    box-shadow: 10px 15px 25px rgb(24, 12, 36);
}


p{
    margin-left: 10px;
    color: rgb(8, 14, 14);
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#screen{
    background-color: rgb(21, 2, 21);
    height: 80px;
    width: 444px;
    margin: 5px;
    font-size: 4rem;
    text-align: right;
    color: rgb(105, 176, 99);
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgb(0, 208, 104)

}
.button{
    background-color: rgb(48, 155, 146);
    color: rgb(7, 4, 7);
    width: 92px;
    height: 70px;
    font-size: 2.5rem;
    margin: 10px;
    border-radius: 15px;
    box-shadow: inset 1px 1px 3px 1px rgba(5, 146, 154, 0.6);
    background: transparent;

}

.clear{
    background-color: rgb(54, 166, 131);
}
.operator{
    background-color: rgba(147, 73, 146, 0.797);
}
.button:hover{
    border: 5px solid rgb(25, 171, 117);
}